html {
    font-size: 22px;
    scroll-behavior: smooth;
}

body {
    background-color: #333;
    color: whitesmoke;
    /*min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    border-left: 1px solid rgb(235, 222, 222);
    border-right: 1px solid rgb(235, 222, 222);
    */
}

a {
    color: aliceblue;

}

a:visited {
    color: lightgray;
}

a:hover, a:active {
    color: #eee
}

table, tr, th, td, caption {
    border: 1px solid #eee;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}