<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    
</head>
<body>
    <header>
        <h1 align="center">Problem occured with submited information</h1>
        <h2 align="center"><a href="https://hidan-on-cord-github-io.vercel.app/">Go back to main page</a></h2>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <hr>
        <p align="center">Please contact the developer</p>
    </header>
</body>
</html>